{{#if text}}
<div class="media">
	{{#if isOwnMessage}}
		<div class="media-body message-body your-message-body">
			<div class="media-heading message-meta">
				<span>{{#if fromUser.displayName}}{{fromUser.displayName}}{{else}}{{fromUser.username}}{{/if}}</span> at <span class="sent-time">{{time}}</span>
			</div>
			<div>{{{html}}}</div>
		</div>
		<div class="media-right">
			<a class="user-avatar" target="_blank" href="{{fromUser.url}}">
				<img class="media-object img-circle" src="{{fromUser.avatarUrlSmall}}" alt="{{fromUser.displayName}}">
			</a>
		</div>
	{{else}}
		<div class="media-left">
			<a class="user-avatar" target="_blank" href="{{fromUser.url}}">
				<img class="media-object img-circle" src="{{fromUser.avatarUrlSmall}}" alt="{{fromUser.displayName}}">
			</a>
		</div>
		<div class="media-body message-body">
			<div class="media-heading message-meta">
				<span>{{#if fromUser.displayName}}{{fromUser.displayName}}{{else}}{{fromUser.username}}{{/if}}</span> at <span class="sent-time">{{time}}</span>
			</div>
			<div>{{{html}}}</div>
		</div>
	{{/if}}
</div>
{{/if}}
