<div class="media">
	{{#if isOwnMessage}}
		<div class="media-body message-body your-message-body">
			{{text}}
		</div>
		<div class="media-right">
			<a class="user-avatar" target="_blank" href="{{fromUser.url}}">
				<img class="media-object img-circle" src="{{fromUser.avatarUrlSmall}}" alt="{{fromUser.displayName}}">
			</a>
		</div>
	{{else}}
		<div class="media-left">
			<a class="user-avatar" target="_blank" href="{{fromUser.url}}">
				<img class="media-object img-circle" src="{{fromUser.avatarUrlSmall}}" alt="{{fromUser.displayName}}">
			</a>
		</div>
		<div class="media-body message-body">
			{{text}}
		</div>
	{{/if}}
</div>
